.vscode
.env
compiled_contract.json
cairo-contracts/node.json
cairo-contracts/accounts.json
cairo-contracts/artifacts
cairo-contracts/tests/__pycache__
env
*.deployments.txt
*.json
.pytest_cache
goerli.deployments.txt
